<div class="container">
    <div class="row">
        <div class="col-md-12 mb-4" *ngFor="let arr of mobArr">
            <div class="card"
            [ngClass]="{
                noAvailable:!arr.isAvailable
            }">
            
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="imageContainer">
                                <img 
                                *ngIf="arr.image; else noImage"
                                class="img-fluid"
                                [src]="arr.image" 
                                [alt]="arr.name"
                                [title]="arr.name">
                                <ng-template #noImage>
                                    <img src="https://placehold.co/600x400" alt="">
                                    
                                </ng-template>
                              
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h1 class="ml-4">
                                {{arr.name}}
                                <small class=" text-white rounded" 
                                [ngClass]="{
                                    'bg-success':arr.rating >=4,
                                    'bg-warning':arr.rating<4 && arr.rating>=3,
                                    'bg-danger':arr.rating <3
                                }">
                                    {{arr.rating}}
                                </small>
                               
                            </h1>
                            <ul>
                                <li class="spc" *ngFor="let space of arr.specifications">
                                    {{space}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 ">
                                <h3>
                                    {{arr.price}}
                                    <img 
                                    class="img-fluid ml-4"
                                    src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_62673a.png" alt="">
                                </h3>
                                <div class="row">
                                    <div class="col-md-6 size">
                                        <s>
                                            {{arr.Oprice}}
                                        </s>
                                        <div>
                                            {{arr.Delivery}}
                                        </div>
                                        <div>
                                            {{arr.Bank}}
                                        </div>
                                        <div class="text-danger">
                                            {{arr.stock}}
                                        </div>
                                        <div class="text-primary" *ngIf="arr.status">
                                            <p>In Stock</p>
                                        </div>
                                        <div class="text-success" *ngIf="!arr.status">
                                            <p>Out of stock</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {{arr.Disscount}}
                                    </div>
                                    <p class="text-center ml-2" *ngIf="!arr.isAvailable">
                                        Product is not available
                                    </p>
                                </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>